<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TPR: $if(title)$$title$$endif$</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="icon" href="favicon.ico" type="image/x-icon">
  </head>
  <body>
      <aside>
          <header>
              <a href="/index.html">Thought-Provoking Rambles</a>
          </header>
          <nav>
              <ul>
                  <li><a href="/index.html">Thoughts</a></li>
                  <li><a href="/projects.html">Projects</a></li>
                  <li><a href="/about.html">About</a></li>
              </ul>
          </nav>
      </aside>
      <main>
          $body$
          $if(posts)$
          <section>
              <ul>
              $for(posts)$
                  <li>
                      <a href=$it.path$>$it.title$</a>
                      <time>$it.date$</time>
                  </li>
              $endfor$
              </ul>
          </section>
          $endif$
          <footer>
              <span><time>$time$</time></span>
              <span>
                  <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
              </span>
          </footer>
      </main>
  </body>
</html>
